<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="../static/styles.css" />
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>About Us</title>
    </head>
    <body>
        <div id="header">
            <div id="Logo">
                <a href="/">
                    <img src="static/images/InvigilAI.png" alt="" />
                </a>
            </div>
            <div id="navBar">
                <a href="/aboutUs"> About us</a>
                <a href="/howItWorks"> How does it Work?</a>
            </div>
        </div>
        <div id="content">Hello! This is InvigilAI</div>
    </body>
</html>
