<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="../static/styles.css" />
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>About Us</title>
    </head>
    <body>
        <div id="header">
            <div id="Logo">
                <a href="index.html">
                    <img src="../images/InvigilAI.png" alt="" />
                </a>
            </div>
            <div id="navBar">
                <div class="aboutUs"></div>
                <a href="aboutUs.html"> About us</a>
                <div class="howItWork">
                    <a href="howItWorks.html"> How does it Work ?</a>
                </div>
            </div>
        </div>
        <div id="content">To make it work!</div>
    </body>
</html>
