<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="../static/styles.css" />
        <link rel="stylesheet" href="../static/index.css" />
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>InvigilAI</title>
    </head>

    <body>
        <div id="background">
            <div id="header">
                <div id="logo">
                    <a href="index.html">
                        <img src="../images/InvigilAI.png" alt="" />
                    </a>
                </div>
                <div id="navBar">
                    <div class="aboutUs">
                        <a href="aboutUs.html">About Us</a>
                    </div>
                    <div class="howItWork">
                        <a href="howItWorks.html"> How does it Work ?</a>
                    </div>
                </div>
            </div>
            <div id="content">
                <div class="text">
                    <h1>
                        InvigilAI
                        <h3>Welcome!</h3>
                    </h1>
                    <div id="continueButton">
                        <a href="./login.html"><button>Continue</button></a>
                    </div>
                </div>
                <div class="sideImage">
                    <img src="../images/sidemapicture.png" alt="" />
                </div>
            </div>
        </div>
    </body>
</html>
