<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="../static/styles.css" />
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>InvigilAI</title>
    </head>

    <body>
        <div id="background">
            <div id="header">
                <div id="Logo">
                    <a href="/">
                        <img src="/static/images/InvigilAI.png" alt="InvigilAI" />
                    </a>
                </div>
                <div id="navBar">
                    <a href="/aboutUs"> About us</a>
                    <a href="/howItWorks"> How does it Work?</a>
                </div>
            </div>
            <div id="content">
                <h1>
                    InvigilAI
                    <h3>Welcome!</h3>
                </h1>
                <div id="continueButton"><button onclick="window.location.href='/login'">Login</button></div>
            </div>
        </div>
    </body>
</html>
